.container {
}

.Loading {
}

.movies--row {
  display: flex;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.movies--row::-webkit-scrollbar {
  display: none; /* Chrome , Safari , Opera */
}

.movies--row img {
}
